.cardContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  border-radius: 4px;
  width: 100%;
  max-height: 100vh;
  margin-bottom: 1rem;
  background-color: white;
  padding: 1em;
}

